.menu{
    position: fixed;
    top: 0;
    left: -100%;
    background:$base_orange_color;
    height: 100%;
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 0 50px 40px;
    z-index: 100;
    transition: 0.5s all;
    

    &__close{
        position: relative;

        span{
            display: block;
            width: 29px;
            height: 3px;
            background:$base_black_color;
            position: absolute;
            transform: rotate(45deg);
            cursor: pointer;
            right: 25px;
        }

        & span:last-child {
            transform: rotate(-45deg);
        }
    }

    &__link{
        list-style-type: none;
        margin-bottom: 15px;
        padding-left: 30px;
        position: relative;

        &::before{
            content:"";
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid black;
            position: absolute;
            left: 0;
            top: 25%;
            transition: 0.3s;
        }

        &:hover::before {
            background: white;
        }

        a{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration: none;
        }
    }

    &__socials{
        width: 90px;
        margin:0 auto;
        display: flex;
        justify-content: space-between;
        transform: translateX(-50%);
        img{
            width: 20px;
            height: 20px;
        }
    }

    &__overlay{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s all;
        
    }
    
    &_active{
        visibility: visible;
        left: 0;
        opacity: .9;
    }
}